<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    {{> links}}
</head>

<body>
    {{> navbar}}

    <main class="container">
        <section class="py-4">
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <p class="text-muted">by <span class="fw-bold">{{question.creator.username}}</span> on </p>
                        <div class="row">
                            <div class="col-10">
                                <h2 class="fw-bold">{{question.question.title}}</h2>
                            </div>
                            {{!-- TODO add action button --}}
                        </div>
                        <p>{{question.question.content}}</p>
                    </div>
                    <div class="py-3">
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Answers</h5>
                            <button class="btn btn-outline-primary" data-mdb-ripple-init data-mdb-modal-init
                                data-mdb-target="#exampleModal">Answer</button>
                        </div>
                        {{# each answers }}
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <p class="card-text">{{this.answer}}</p>
                                </div>
                                <div class="pt-2">
                                    by <span class="fw-bold">{{this.creator.username}}</span> on 
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="col-md-4 py-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Similler Questions</h5>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Blogs</h5>
                            <p class="card-text">commign soon</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Answer</h5>
                            <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <form method="post" action="/answer/new-answer?success=/question/get/{{question.slug}}">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="questionid" class="col-form-label">QuestionId:</label>
                                    <input type="text" class="form-control" id="questionid" value="{{question._id}}"
                                        name="questionId" aria-disabled="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="message-text" class="col-form-label">Answer:</label>
                                    <textarea class="form-control" id="message-text" rows="6" name="answer"
                                        placeholder="write your answer here..."></textarea>
                                </div>
                                <div class="mb-3">
                                    <p class="text-muted">you must be signed in to answer*</p>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-mdb-ripple-init
                                    data-mdb-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" data-mdb-ripple-init>Add Answer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {{> scripts}}
</body>

</html>